<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:
true}" routerLink="/users" routerLinkActive="active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:
true}" routerLinkActive="active" routerLink="users/create">New User</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
          <span class="DocSearch-Button-Container d-flex me-2">
            <svg width="20" height="20" class="DocSearch-Search-Icon me-2" viewBox="0 0 20 20">
             <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg> Search</span>
          </button>
      </form>
    </div>
  </div>
</nav>

          <!--<li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2"  type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success d-flex" type="submit">
            <span class="DocSearch-Button-Container d-flex me-2">
              <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                </path>
                </svg>
              </span>Search</button>
            </form>
            <div>
              <ul class="navbar-nav me-2">
                <li class="nav-item me-2">
                  <a class="nav-link active text-align-left" aria-current="page" href="#">LogOut</a>
                </li>
                </ul>
            </div>-->
            